@import "tailwindcss";
@import "tailwindcss-primeui";

html {
    font-size: 14px;
    line-height: normal;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

* {
    /*tooltip 宽度*/
    --p-tooltip-max-width: 90vw !important;

    /*不允许选中页面文本*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
}

.user-select {
    /*-webkit-user-select: text;*/
    /*-moz-user-select: text;*/
    /*user-select: text;*/
}